# Database connection string
ConnectionStrings__PostgreSql=Host=your-db-host;Port=5432;Database=mini-banking;Username=postgres;Password=your-password

# Redis (local docker compose)
REDIS_PORT=6379

# RabbitMQ (local docker compose)
RABBITMQ_USER=minibanking
RABBITMQ_PASSWORD=minibanking_secret
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
